*{
   padding: 0;
   margin: 0;
}

img {
   width: 100%;
}

body {
   background-color: #ddd;
   font-size: 18px;
   font-family: 'oswald' Arial, Helvetica, sans-serif;
   margin: 50px;
}

/* Container */
.container {
   display: grid;
}

/* Header */
.header {
   display: grid;
   grid-template-areas: 
   'hero hero feature-1'
   'hero hero feature-2';
}

.hero {
   grid-area: hero;
   min-height: 350px;
   background-image: url(img/KYT\ TT-COURSE\ XAVIER\ SIMEON\ all.jpg);
   background-size: cover;
   background-position: center;
   padding: 50px;
   margin: 2px;
   box-shadow: 0 4px 10px #000;
}

.hero > * {
display: none;
}

.features {
   background-color: #000;
   color: white;
   display: grid;
   /* justify-content: center;
   align-content: center; */
   place-content: center;
   text-align: center;
   cursor: pointer;
}

.feature-1 {
   grid-area: feature-1;
   background-image: url(img/Weistbag.jpg);
   background-size: cover;
   margin: 2px;
   box-shadow: 0 4px 10px #000 ;
}

.features span {
   color: #000;
}

.feature-2 {
   grid-area: feature-2;
   background-image: url(img/Hoodie.jpg);
   background-size: cover;
   margin: 2px;
   box-shadow: 0 4px 10px #000;
}

.features .price {
   font-size: 3em;
   font-weight: 200px;
   text-shadow: 2px 3px 5px #000;
}


/* Navbar */
.menu {
   order: -1;
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center  ;
   background-color: orange;
   margin-top: 5px;
}

.menu .brand {
   font-size: 1.3em;
   color: #333;
}

.menu ul {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   gap: 5px;
}

.menu a {
   display: block;
   background-color: #000;
   color: white;
   text-decoration: none;
   text-align: center;
   padding: 5px;
   text-transform: uppercase;
   font-size: 0.9em
}

/* Responsive Breakpoint */
@media screen (max-width: 1024px) {

}

@media screen (max-width: 768px) {
   
}

@media screen (max-width: 500px) {
   
}