body {
   font-family: Georgia;
   background-color: aqua;
}

h1 {
   font-family: comic sans ms;
   font-size: 60px;
   color: darkblue;
   text-align: center;
}

h4 {
   text-align: right;
   font-style: italic;
}

.a1 {
   color: white;
   text-transform: capitalize;
   text-decoration: none 0px;
   font-variant: small-caps;
}

.a2 {
   color: blue;
}

.p1 {
   color: orange;
   text-align: center;
}

.p2 {
   text-align: center;
}




