body {
   font-family: Georgia;
   background-image: url(".//image/background.png") ;
   background-repeat: repeat-x;
}

h1 {
   font-family: comic sans ms;
   font-size: 60px;
   color: darkblue;
   text-align: center;
}

h3 {
   text-align: center;
}

h4 {
   text-align: center;
   font-style: italic;
}

.a1 {
   color: red;
   text-decoration: underline;
   font-size: smaller;
   font-variant: small-caps;
}

.a1:hover {
   color: red;
   text-decoration: none;
}

.div1 {
   font-size: smaller;
}

.a2 {
   color: blue;
   font-weight: bold;
   text-decoration: none;
}

.a2:hover {
   color: gray;
   text-decoration: none;
}

.p1 {
   color: orange;
   text-align: center;
}

.p2 {
   text-align: center;
}
